.photos__container {
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.error {
  font-size: 44px;
  color: red;
}

.btn-submit {
  margin-left: 5px;
  height: 32px;
  border: none;
  background-color: #046a86;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
  transition: all 0.3s;
  cursor: pointer;
  min-width: 100px;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #61dafb;
}

.search-field {
  height: 30px;
  margin-top: 20px;
  margin-left: 5px;
  padding-left: 25px;
  border: none;
  background: url(../search-icon.png) no-repeat 5px 8px;
  background-color: white;
  background-size: 16px;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
  font-size: 16px;
  outline: 0;
}

.search-field:focus,
input:focus {
  outline: none;
}

.spinner-block {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 125px;
  height: 125px;
}
.spinner:before,
.spinner:after {
  content: '';
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

/* spinner-1 styles */
@-webkit-keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.spinner.spinner-1:before {
  width: 117px;
  height: 117px;
  border-bottom-color: #212121;
  border-right-color: #212121;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 0px;
  left: 0px;
  -webkit-animation: rotate-animation 1s linear 0s infinite;
  animation: rotate-animation 1s linear 0s infinite;
}
.spinner.spinner-1:after {
  width: 81.9px;
  height: 81.9px;
  border-bottom-color: #212121;
  border-right-color: #212121;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 17.55px;
  left: 17.55px;
  -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
  animation: anti-rotate-animation 0.85s linear 0s infinite;
}
