.search-field {
  height: 20px;
  margin-top: 20px;
  margin-left: 5px;
  padding-left: 30px;
  border-color: #61dafb;
  background: url(../search-icon.png) no-repeat 7px 3px;
  background-color: white;
  background-size: 16px;
  border-radius: 10px;
  color: #61dafb;
  font-size: 16px;
  outline: 0;
}
